<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Creating a db connection string : https://www.connectionstrings.com/ -->
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\ItemDatabase.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>